@media only screen and (max-width: 1024px) {
    .phone{
        display: none;
    }
    .main-nav{
        display: none;
    }
    .cheeps{
        padding-right: 100px;
        padding-left: 30px;
    }
    .text_3{
        padding-left: 20px;
    }
    .title_1_8{
        padding-left: 20px;
    }
    .title_1_10{
        padding-left: 20px;
    }
    .momentum{
        margin: auto;
    }
    .logo{
    padding-left: 50px}
    .nav-but-wrap{
        display: inline-block;
        margin: auto;
    }
    .header_body{
       display: none;
    }
    .container{
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {

    .d-flex{
        text-align: center;
        display: inline-block;
    }
    .subject{
        text-align: center;
    }
    .subject_1{
        text-align: center;
    }
    .btn{
        display:block;
        text-align: center;
    }
    .title_1_5{
        margin: auto;
        padding-bottom: 15px;
    }
    .title_1_6{
        margin: auto;
        padding-bottom: 20px;
        padding-left: 30px;
    }
    .text{
        margin: auto;
    }
    .phone-svj{
        padding-left: 25px;
    }
    .orders{
        margin: auto;
    }
    .text_2{
        margin: auto;
        padding-bottom: 15px;
    }
    .magna{
        margin: auto;
        padding-left: 25px;
    }
    .box{
        display: block;
        text-align: center;
    }
    .number{
        margin: auto;
    }
    .icon{
        margin: auto;
        padding-bottom: 15px;
    }
    .text_3{
        padding-bottom: 15px;
        margin: auto;
        max-width: 500px;
    }
    .text_4{
        padding-left: 20px;
    }
    .form{
        display: inline-block;
    }
    .cheeps{
        margin: auto;
    }
    .subject{
        font-size: 60px;
    }
    .button{
        margin-top: 20px;
    }
}@media only screen and (max-width: 350px) {
    .frame{
        display: inline-block;
        margin-top: 30px;
    }
    .main-nav{
        flex-direction: column;
    }
    .button{
        margin-top: 15px;
    }
    .d-flex{
        display: block;
        text-align: center;
    }
    .email{
        display: block;
        font-size: 13px;
        width: 40%;
        margin: auto;
    }
    .subject{
        font-size: 45px;
    }
    .subject_1{
        font-size: 24px;
    }
    .magna{
        padding: 0;
    }
    .phone-svj{
        padding: 0;
    }
    .cheeps{
        padding: 0;
    }
}
