img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Gothic A1', sans-serif;
}
.section_fon{
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
    background-size: cover;
}
.header_bady{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top: 29px;
}
.main-nav{
    display: flex;
    padding-top: 29px;
}
.main-nav li{
    padding-right: 30px;
    list-style-type: none;
}
.main-nav li a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family:'Gothic A1',sans-serif;
}
.title_1{
    max-width: 1200px;
    margin: auto;
    display:flex;
    position: relative;
    min-height: 800px;
}
.subject{
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    font-family:'Gothic A1', sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-top: 229px;
}
.subject_1{
    font-family:'Gothic A1', sans-serif;
    font-weight: 400;
    line-height: 44px;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
}
.btn{
    padding: 20px 40px;
    background: #FC0A7E;
    border-radius: 3px;
    text-decoration: none;
    list-style-type: none;
    color: rgba(255, 255, 255, 1);
}
.btn:hover{
    background: chocolate;
    color: black;
}
.title_1_2{
   margin-top: 60px;
}
.phone{
    position: absolute;
}
.combine{
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.background{
    background-color: #1B1B1B;
    background-size: cover;
    width: 100%;
}
.title_1_3{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Gothic A1';
    color: rgba(168, 168, 168, 1);
    margin-bottom: 30px;
    padding-top: 100px;
    text-align: center;
}
.title_1_4{
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Gothic A1';
    margin-bottom: 22px;
}
.d-flex{
    display: flex;
    justify-content: center;
}
.d-flex_2{
    display: flex;
    justify-content: center;
}

.food{
    margin-bottom: 159px;
}
.title_1_5{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Gothic A1';
    color: rgba(168, 168, 168, 1);
    margin-bottom: 30px;
    margin-top: 268px;
}
.title_1_6{
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    font-family: 'Gothic A1';
    margin-bottom: 30px;
    max-width: 302px;
}
.text{
    font-family: 'Gothic A1';
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
    color: rgba(107, 107, 107, 1);
    max-width: 302px;
    margin-right: 195px;
}
.phone-svj{
    margin-top: 80px;
    margin-bottom: 160px;
}
.orders{
    margin-right: 144px;
    margin-bottom: 160px;
}
.title_1_7{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Gothic A1';
    color: rgba(168, 168, 168, 1);
    margin-top: 168px;
    margin-bottom: 25px;
}
.title_1_8{
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    font-family: 'Gothic A1';
    margin-bottom: 27px;
}
.text_2{
    font-family: 'Gothic A1';
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
    color: rgba(107, 107, 107, 1);
    max-width: 302px;
}
.title_1_9{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Gothic A1';
    color: rgba(168, 168, 168, 1);
    margin-bottom: 30px;
}
.magna{
    margin-left: 210px;
}
.centre{
    text-align: center;
}
.burger{
    margin-bottom: 40px;
    display: inline-block;
}
.subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gothic A1';
    margin-bottom: 17px;
}
.text_3{
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gothic A1';
    color: rgba(107, 107, 107, 1);
    max-width: 371px;
    margin-right: 61px;
}
.icon{
    margin-bottom: 163px;
}
.number{
    margin-bottom: 170px;
}
.box{
    display: flex;
    justify-content: space-between;
}
.big{
}

.numbers{
    font-family: 'Gothic A1';
    font-weight: 400;
    line-height: 90px;
    font-size: 59px;
}
.subtitle_1{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gothic A1';
  
}
.ice{
    margin-bottom: 162px;
}
.title_1_10{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Gothic A1';
    color: rgba(168, 168, 168, 1);
    margin-bottom: 30px;
    margin-top: 17px;
}
.burgers{
    margin-bottom: 167px;
}
.cheeps{
    margin-right: 77px;
}
.content{
    margin-bottom: 118px;
}
.quotes{
    text-align: center;
    margin: 0;
}
.quotes_1{
    margin-bottom: 65px;
}
.text_4{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Gothic A1';
    color: rgba(107, 107, 107, 1);
    margin: auto;
    padding-bottom: 17px;
    text-align: center;
    max-width: 700px;
}
.title_1_11{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Gothic A1';
    padding-right: 20px;
    color: rgba(107, 107, 107, 1);
    padding-bottom: 88px;
}
.stripe{
    max-width: 30px;
    padding-right: 20px;
    margin-left: 25px;
}
.title_1_12{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Gothic A1';
    color: rgba(107, 107, 107, 1);
    padding-right: 20px;
    padding-left: 20px;
}
.brends{
    margin-top: 142px;
}
.img_phones{
    max-width: 100%;
}
.section_background{
    min-height: 475px;
}
.ready{
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    font-family: 'Gothic A1';
    margin-bottom: 27px;
    color: white;
    padding-top: 150px;
}
.frame{
    color: white;
    size: 16px;
    line-height: 26px;
    font-family: 'Gothic A1';
    font-weight: 400;
    text-decoration: none;
    padding: 20px 40px;
    border: 1px solid #B04BB3;
    box-sizing: border-box;
}
.frame:hover{
    background: aqua;
    color: cadetblue;
}
.background_black{
    background: #1B1B1B;
    background-size: cover;
}
.updates{
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    font-family: 'Gothic A1';
    margin-bottom: 27px;
    color: white;
    padding-top: 127px;
    padding-bottom: 20px;
}
.updates_2{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Gothic A1';
    color: white;
    padding-bottom: 40px;
}
.form{
    display: flex;
    justify-content: center;
}
.email{
    padding: 22px 155px 22px 3px;
    box-shadow: 0 0 0 #FC0A7E;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Gothic A1';
    color: rgba(28, 28, 28, 1);
}
.button{
    padding: 22px 29px;
    background: #FC0A7E;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Gothic A1';
}
button:hover{
    background: darkgreen;
    color: #B04BB3;
}
.radius{
    margin-top: 168px;
    margin-bottom: 29px;
}
.link{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(107, 107, 107, 1);
    text-decoration: none;
    padding-right: 30px;
}
.footer{
   padding-bottom: 69px;
}

.owl-dots{
    margin-top: 88px;
    bottom: 80px;
    width: 100%;
    text-align: center;
}

.owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(34, 34, 34, 0.4);;
}
.owl-dot{
    display: inline-block;
    margin: 7px;
}
.owl-dot.active span{
    background-color: #222222;
}
.owl-dot:hover span{
    width: 15px;
    height: 15px;
    transition: 0.3s;
}

